@import "tailwindcss";
@import "katex/dist/katex.min.css";

@theme {
  --font-sans: 'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html, body {
    font-family: 'Vazirmatn', 'Inter', system-ui, sans-serif !important;
    background-color: #FDFBF7; /* Luxurious warm off-white / cream */
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1e293b;
  }
}